
/* Nav menu */

.nav-image {
  background-image: url("images/navbar.svg");
  height: 324px;
  position: relative;
  width: 100%;

}

.nav-menu {
  padding: 0 10%;

}

.logo {
  width: 100px;
}
a {
  text-decoration: none;
  color: #000000;
  margin-right: 60px;
}


/* Header section */
.header {
  position: relative;
  top:40%;
  padding: 0 10%;

}

.text-header {
  padding-right: 50px;
    padding: 0 5%;
}
h1 {
  font-size: 3.5rem;
  }

.header-span, span {
  color:#15E7BD;
}

.header  p {
padding: 10px 50px 10px 0;
line-height: 1.8rem;
}

/* This is the second section */

.second-image{

width:100%;}

/* - This is the third section --> */

.third-section, .top-why, .portfolio {
  text-align: center;
  padding: 1% 20%;
}

h3 {
  color: #15E7BD;
  font-size: 1rem;
}

h2 {
font-size: 2rem;
color: #000;
}

p {
  font-style: normal;
font-weight: 400;
font-size: 16px;

}

/* this is the fourth section */
.fourth-section {
  padding: 0 5%;
   text-align: center;
      justify-content: center;

}
.card {
 text-align: center;
 margin: 10px 20px;
 border-radius: 20px;
 box-shadow: 0 2px 3px rgba(129, 179, 169, 0.25);
 padding: 24px 16px;
}

/* video-section */

.video-section {
  margin: 8% 0;
 }
.right-video-div {
  background-color: #08003F;
  color: white;
  padding: 8% 5%;
  border-radius: 0 20px 0;

}

/* This is the portfolio section */

.portfolio-section {
  margin-top: 10%;
}

/* This is the slider section */

.controls {
  position: relative;
  margin-bottom: 50px; 
}

/* .slider {
  position: absolute;
} */

.slider-1 {
  position: absolute;
left: 70%;
}

.slider-2 {
  position: absolute;
  right: 15px;
}

.indicators {
  position: absolute;
}
